<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Add your project</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/styles.css">

      <div id="header" class="left">
        <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
        <a href="{{url_for('my_project') }}" class="btn">My_Projects</a>
        <a href="{{url_for('my_application') }}" class="btn">My_Applications</a>
        <a href="{{url_for('add_project') }}" class="btn">Add_Project</a>
        <a href="{{url_for('apply') }}" class="btn">Apply</a>
        <a href="{{url_for('account') }}" class="btn">Account</a>
        <a href="/user/signout" class="btn">Sign Out</a>
      </div>

  </head>
  <div class = "container">
    {% with error_mes = get_flashed_messages(category_filter=["danger"]) %}
    {% if error_mes %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" > 

          <strong>{{ error_mes[0]  }}</strong> You should check on the fields below.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div> 
      </div>
    {% endif %}
    {% endwith %}
  </div>

{% with success_mes = get_flashed_messages(category_filter=["success"]) %}
{% if success_mes %}
<div class = "container">
  <div class="mx-auto" class = "mt-5">
    <div class="alert alert-light alert-dismissible fade show" role="alert" > 
    <style>
      h4,p{text-align: left;}
    </style>

    <h4 class="alert-heading" >Well done! </h4>
    <p> {{ success_mes[0] }}</p>
    <hr>
    <p>We would like to inform you that it may take 2-5 days for your project to pass through our review process and be published on our site.

      During the review process, our team will carefully evaluate your project to ensure that it meets our requirements and is suitable for publication on our site. We may need to request additional information from you before it can be approved.
      
      We understand that you may be eager to have your project published as soon as possible, and we will do our best to complete the review process as quickly as we can. Thank you for your understanding and patience.
    </p>
    
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

    </div>
  </div>
</div>
{% endif %}
{% endwith %}




<body>
    <div class="card-wrapper">

        <div class="card2" style="width:800px;">
    
          <h1 class="center"> <strong>Create A New Project</strong></h1>
    
          <form method="post" enctype="multipart/form-data">

            <label for="name">Project Name</label>
            <input type="text" name="name" class="field" required>

            <label for="depart">Deparment</label>
            <select name="depart" class="field" required>
              <option value="" disabled selected hidden>Select a field</option>
              <option value="Computer Scinece and Engineering">Computer Scinece and Engineering</option>
              <option value="Chemical and Biomolecular Engineering">Chemical and Biomolecular Engineering</option>
              <option value="Civil and Urban Engineering">Civil and Urban Engineering</option>
              <option value="Finance and Risk Engineering">Finance and Risk Engineering</option>
              <option value="Other">Other</option>
            </select>

            <label for="member need">No. of Member Needed</label>
            <input type="number" name="member number" class="field" required >
    
            <label for="major">Intended Majors</label>
            <input type="major" name="major" class="field" required>
            
            <label for="school year">School Year Requirement</label>
            <select name="school year" class="field" required>
              <option value="" disabled selected hidden>Select a field</option>
              <option value="Sophomore or above">Sophomore or above</option>
              <option value="Junior or above">Junior or above</option>
              <option value="Senior or above">Senior or above</option>
              <option value="Master">Master</option>
              <option value="Phd Students only">PHD</option>
              <option value="No restrictions">No restrictions</option>
            </select>

            <label for="gpa">GPA Requirment</label>
            <select name="gpa" class="field" required>
              <option value="" disabled selected hidden>Select a field</option>
              <option value="3.7 or above">3.7 or above</option>
              <option value="3.4 or above">3.4 or above</option>
              <option value="3.0 or above">3.0 or above</option>
              <option value="2.8 or above">2.8 or above</option>
              <option value="No restrictions">No restrictions</option>
            </select>

            <label for="length">Project Length (e.g. 3 months)</label>
            <input type="length" name="length" class="field" required>

            <label for="skill">Skill Requirment (Please list preferable skill sets)</label>
            <input type="skill" name="skill" class="field">

            <label for="description">Describe your project</label>
            <input style="height:200px;" type="description" name="description" class="field"s>

            <label for="FS">Upload File (should be smaller than 75 kB) </label>
            <input type="file" name='file' id="file" class="field"/>
    
            <input type="submit" value="Submit" class="btn">

          </form>
          
        </div>
      
      </div>

</body>

</html>
