<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Apply</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="/static/styles.css">

      <div id="header" class="left">
        <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
        <a href="{{url_for('my_project') }}" class="btn">My Projects</a>
        <a href="{{url_for('my_application') }}" class="btn">My Applications</a>
        <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
        <a href="{{url_for('apply') }}" class="btn">Apply</a>
        <a href="{{url_for('account') }}" class="btn">Account</a>
        <a href="/user/signout" class="btn">Sign Out</a>
      </div>

  </head>
  <div class = "container">
    {% with error_mes = get_flashed_messages(category_filter=["danger"]) %}
    {% if error_mes %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert" > 

          <strong>{{ error_mes[0]}}</strong> Please consider applying for other projects.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

        </div> 
      </div>
    {% endif %}
    {% endwith %}
  </div>


  {% with success_mes = get_flashed_messages(category_filter=["success"]) %}
  {% if success_mes %}
  <div class = "container">
    <div class="mx-auto" class = "mt-5">
      <div class="alert alert-light alert-dismissible fade show" role="alert" > 
      <style>
        h4,p{text-align: left;}
      </style>

      <h4 class="alert-heading" >Nice Work! </h4>
      <p> {{ success_mes[0] }} Your interest has been brought to the attention of the project leader, who will reach out to you via email.
          Remember, you can always log back into your profile to view your status and if needed, withdraw your application.
      </p>
      
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

      </div>
    </div>
  </div>
  {% endif %}
  {% endwith %}


<body>
    <div class="card-wrapper">

        <div class="card2" style="width:800px;">
    
          <h1 class="center"> <strong>Application</strong></h1>
    
          <form method="post" enctype="multipart/form-data">
            
            <label for="name">Your Full Name </label>
            <input type="text" name="full name" class="field" required>

            <label for="applied project">Applied Project</label>
            <select id="select" name="applied project" class="field">
                <option value="default">Select a Project</option>
                  
                {% for option in project_options %}
                <option>
                    {{ option }}
                </option>
                    {% endfor %}
            </select>

            <label for="FS">Upload your resume (should be smaller than 75 kB) </label>
            <input type="file" name='resume' id="resume" class="Resume"/>

            <label for="FS">Upload your transcript (should be smaller than 75 kB) </label>
            <input type="file" name='transcript' id="transcript" class="transcript"/>

            <label for="FS">Upload your coverletter (should be smaller than 75 kB) </label>
            <input type="file" name='coverletter' id="coverletter" class="cover letter"/>
            <input type="submit" value="Apply" class="btn">

          </form>
          
        </div>
      
      </div>

</body>

</html>
