<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>

        <!-- Our CSS -->
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="stylesheet" href="/static/footer_style.css">
        <link rel="stylesheet" href="/static/forms.css">

        <title>My Project</title>
            <div id="header" class="left">
                <a href="{{url_for('homepage_local') }}" class="btn">Home</a>
                <a href="{{url_for('my_project') }}" class="btn">My Projects</a>
                <a href="{{url_for('my_application') }}" class="btn">My Applications</a>
                <a href="{{url_for('add_project') }}" class="btn">Add Project</a>
                <a href="{{url_for('apply') }}" class="btn">Apply</a>
                <a href="{{url_for('account') }}" class="btn">Account</a>
                <a href="/user/signout" class="btn">Sign Out</a>
            </div>
 
    </head>
            
    <br/>
    <br/>

    <body>
      <main class="table">
          <section class="table__header">
              <h1><strong>My Projects</strong><small>(Here includes all the projects you have created)</small></h1>
          </section>

          <section class="table__body">
            <table>
                <thead>
                    <tr>                          
                        <th> Status
                        <th> Project_Name
                        <th> Posted_Date
                        <th> Number of Applicants 
                        <th>
                        <th> 
                        <th>    
                    </tr>
                </thead>
                <tbody>

                      {% for i in range(project_lst |length)%}
                      <tr>
                          <td>  <p class="status delivered"><span class="badge">APPROVED</span></p></td>
                          <td><strong>  
                            <a href="{{url_for('single_post', project = project_lst[i].name)}}" style="color:#57068c; text-decoration:none">
                              {{project_lst[i].name}}</a>
                          </strong></td>
                          <td><strong>  {{project_lst[i].post_date}} </strong> </td>
                          <div>
                          <div>
                          <td> {{(applicants_lst |length)}} </td>
                          <td>
                            <a href="{{url_for('applicants', project = project_lst[i].name)}}" class="btn btn-outline-light mx-auto">Applicants</a>
                          </td>
                          <td>
                            <a href="{{url_for('single_post', project = project_lst[i].name)}}" class="btn btn-outline-light mx-auto">
                                Detail</a>
                          </td>
                          <td>
                            <!-- Button trigger modal -->
                            <form action="{{ url_for('delete_pj', pj_name=project_lst[i].name)}}" method='post'>
                                <button type="button" class="btn btn-outline-light"  data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="width: 120px">
                                    Delete
                                </button>

                                    <!-- Modal -->
                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Delete Project</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body" style="font-size: 15px">
                                                Are you sure you want to DELETE this project? 
                                                Please note that you cannot redo this action.
                                        </div>
                                        <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>

                                        <input type="submit" class="btn btn-outline-light" value="YES" />

                                        </div>
                                    </div>
                                    </div>
                                </div>


                            </form>

                          </td>
                      {%endfor%}
                </tbody>
            </table>
        </section>
      </main>
    </body>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <body>
    <footer class="footer">
        <div class="waves">
        <div class="wave" id="wave1"></div>
        <div class="wave" id="wave2"></div>
        <div class="wave" id="wave3"></div>
        <div class="wave" id="wave4"></div>
        </div>
        <ul class="social-icon">
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
        <li class="social-icon__item"><a class="social-icon__link" href="#">
            <ion-icon name="logo-instagram"></ion-icon>
            </a></li>
        </ul>
        <ul class="menu">
        <li class="menu__item"><a class="menu__link" href="/homepage">Home</a></li>
        <li class="menu__item"><a class="menu__link" href="/about_us">About</a></li>
        <li class="menu__item"><a class="menu__link" href="/service">Services</a></li>
        <li class="menu__item"><a class="menu__link" href="/team">Team</a></li>
        <li class="menu__item"><a class="menu__link" href="/contact_us">Contact</a></li>

        </ul>
        <p>&copy;2023 Beijing GHWXZ</H1> | All Rights Reserved</p>
    </footer>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  </body>

</html>
